extends baseEmail

block content
  p Ola #{firstName},
  p Esqueceu a sua senha, envia a sua nova senha para este link: #{url}.
  table.btn.btn-primary(role='presentation', border='0', cellpadding='0', cellspacing='0')
    tbody
      tr
        td(align='left')
          table(role='presentation', border='0', cellpadding='0', cellspacing='0')
            tbody
              tr
                td
                  a(href=`${url}`, target='_blank') Restaure a sua senha
  p Se você não esqueceu a sua senha porfavor ignore este email
  p - Jeseías Domingos, CEO